<script src="/tools/data-source-memory-create/controller.js"></script>
<div class="modal" ng-controller="Modal">
  <div class="modal-header">
    <a class="close" ng-click="dismiss()">&times;</a>
    <h3>Create In-Memory Data Source</h3>
  </div>
  <div class="modal-body" ng-controller="CreateMemoryDataSourceCtrl">
    <form class="form-horizontal" ng-submit="createModule()">
      <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input type="text" id="name" required ng-model="module.name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
          <textarea id="description" ng-model="module.description"></textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
