<ul class="nav nav-tabs">
  <li><a href="#sidebar-project-view" data-toggle="tab">Project</a></li>
  <li class="active"><a href="#sidebar-objects-view" data-toggle="tab">Objects</a></li>
  <li><a href="#sidebar-files-view" data-toggle="tab">Files</a></li>
</ul>
<div class="well">
  <div class="tab-content">
    <div class="tab-pane" id="sidebar-project-view">
      <em>Not yet implemented</em>
    </div>
    <div class="tab-pane active" id="sidebar-objects-view">
      <em>Not yet implemented</em>
    </div>
    <div class="tab-pane" id="sidebar-files-view">
      <em>Not yet implemented</em>
    </div>
  </div>
</div>