<% layout('layout'); %>

<% 
  script("/lib/js/jquery-ui.custom.min.js");
  script("/lib/js/jquery.dynatree.min.js");
  script("/js/editor.js");
%>

<%
  stylesheet("/lib/dynatree-skin/ui.dynatree.css") 
%>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Asteroid</a>
    <ul class="nav">
    </ul>
  </div>
</div>

<div class="fullpage-container">
  <div class="fullpage-sidebar" id="editor-sidebar">
    <%- include _editor-sidebar %>
  </div>
  <div class="fullpage-body">
    <%- typeof body === 'undefined' ? _body : body %>
  </div>
</div>

