<% layout('layout'); %>

<%
  block('scripts', (blocks.scripts || "") + 
    '<script type="text/javascript" src="/lib/js/jquery-ui.custom.min.js"></script>' +
    '<script type="text/javascript" src="/lib/js/jquery.dynatree.min.js"></script>' + 
    '<script type="text/javascript" src="/js/editor.js"></script>'
  )
%>

<%
  block('stylesheets', (blocks.stylesheets || "") + 
    '<link rel="stylesheet" type="text/css" href="/lib/dynatree-skin/ui.dynatree.css">'
  )
%>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Asteroid</a>
    <ul class="nav">
    </ul>
  </div>
</div>

<div class="fullpage-container">
  <div class="fullpage-sidebar" id="editor-sidebar">
    <%- include _editor-sidebar %>
  </div>
  <div class="fullpage-body">
    <%- body %>
  </div>
</div>

