<% layout('layouts/layout'); %>
<% block('title', "Projects"); %>
<% stylesheet('/css/projects.css'); %>
<% script('/js/projects.js'); %>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Asteroid</a>
    <ul class="nav">
    </ul>
  </div>
</div>

<div id="projects-modal" class="modal">
  <ul class="nav nav-tabs projects-modal-tabs">
    <li class="active"><a href="#open" data-toggle="tab">Open a Project</a></li>
    <li><a href="#create" data-toggle="tab">Create a Project</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="open">
        <div class="modal-body">
          <ul class="project-list clearfix">
            <% projects.forEach(function(p) { %>
              <li><a href="/project/<%= p %>"><%= p %></a></li>  
            <% }); %>
          </ul>
        </div>
        <div class="modal-footer">
          <a href="#" id="open-project-btn" class="btn btn-primary" disabled>Open</a>
        </div>
    </div>
    <div class="tab-pane" id="create">
      <div class="modal-body">
        <p><em>Not yet implemented</em></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" disabled>Create</a>
      </div>
    </div>
  </div>
</div>
