<% layout('layouts/sub-editor-layout') %>
<% stylesheet('/css/sub-editor-default.css') %>

<div class="form-horizontal options-form">
  <% moduleOptions.forEach(function(option) { %>
    <div class="control-group">
      <label class="control-label"><%= option.name %></label>
      <div class="controls">
        <% if (typeof options[option.name] === 'undefined') { %>
          <em class="form-text">undefined</em>
        <% } else if (option.type === 'string' || option.type === 'number') { %>
          <div class="form-text"><%= options[option.name] %></div>
        <% } else { %>
          <pre><%= JSON.stringify(options[option.name], null, '  ') %></pre>
        <% } %>
      </div>
    </div>
  <% }) %>
</div>