body {
  min-width: 960px;
}

#global-loopback-navbar {
  margin-bottom: 0px;
}

#global-loopback-navbar .navbar-inner {
  border-radius: 0;
}

#global-loopback-subnav {
  margin-top: -1px;
}

#global-loopback-subnav .navbar-inner {
  border-radius: 0; 
}

.fullpage-container {
  margin: 20px;
}

.fullpage-container .fullpage-sidebar {
  width: 250px;
  margin-right: 20px;
  float: left;
}

.fullpage-container .fullpage-body {
  float: left;
  width: -webkit-calc(100% - 270px);
  width: calc(100% - 270px);
  position: relative;
}

#editor-sidebar .nav-tabs {
  margin-bottom: -1px; 
  border-bottom: none;
}

#editor-sidebar .dynatree-container {
  border: none;
  background: none;
}

#editor-sidebar .well {
  background-color: #fff;
  padding-top: 10px;
}

#editor-sidebar .well .btn-group {
  margin-bottom: 4px;
}

.sub-editor-header h2 {
  font-weight: normal;
}

.sub-editor-header .meta-list {
  margin-bottom: 8px;
}

.sub-editor-header .meta-list label {
  display: inline-block;
  margin-right: 8px;
  cursor: normal;
}

.sub-editor-header .meta-list ul {
  display: inline-block;
  margin: 0;
}

.sub-editor-header .meta-list ul li {
  display: inline-block;
  margin-right: 8px;
}

.sub-editor-header {
  border-bottom: #ccc 1px solid;
  margin-bottom: 8px;
}

.create-config-object-modal .modal-body .form-inline {
  margin-top: 20px;
  margin-left: 20px;
}

.create-config-object-modal .modal-body label {
  margin-right: 20px;
}