.properties {
  width: 400px;
}

.properties .property {
  border: #CCC 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.properties .property .property-header {
  padding: 8px;
}

.properties .property .property-name {
  font-family: monospace;
  margin: 0 8px;
}