#projects-modal {
  border-top-left-radius: 0;
  top: 15%;
}

#projects-modal .projects-modal-tabs {
  position: absolute;
  top: -38px;
  left: -1px;
  border-bottom: none;
}

#projects-modal .projects-modal-tabs > .active > a {
  border-top-color: #999;
  border-left-color: #999;
  border-right-color: #999; 
}

#projects-modal .project-list {
  margin-left: 0;
  list-style: none;
}

#projects-modal .project-list li {
  float: left;
  width: 33%;
  cursor: pointer;
}

#projects-modal .project-list li > a {
  padding: 4px;
  display: block;
  text-decoration: none;
  color: inherit;
}

#projects-modal .project-list li a:hover {
  background: #eee;
}

#projects-modal .project-list li.active a {
  background: #0088cc;
  color: #fff;
}