<div class="modal" ng-controller="Modal">
  <div class="modal-header">
    <a class="close" ng-click="dismiss()">&times;</a>
    <h3>Create Project</h3>
  </div>
  <div class="modal-body" ng-controller="ProjectWizard">
    <form class="form-horizontal" ng-submit="createProject(project.name, project)">
      <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input type="text" id="name" required ng-model="project.name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="template">Template</label>
        <div class="controls">
          <select ng-model="template" ng-options="t.label for t in templates"></select>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn-group row-fluid">
      <a class="btn btn-inverse span12" ng-click="showOpenProject()"><i class="icon-chevron-left"></i> Open Project</a>
    </div>
  </div>
</div>
