<div class="modal" ng-controller="Modal">
  <div class="modal-header">
    <a class="close" ng-click="dismiss()">&times;</a>
    <h3>Open Project</h3>
  </div>
  <div class="modal-body" ng-controller="ProjectList">
    <div ng-switch on="names.length">
      <div ng-switch-when="0">
        <p>You have no projects.</p>
        <p><a class="btn" ng-click="createProject()">Create Project</a></p>
      </div>
      <div ng-switch-default>
        <ul class="nav">
          <li ng-repeat="name in names">
            <div class="btn-group">
              <a class="btn" ng-click="openProject(name)">{{name}}</a>
              <a class="btn btn-danger" ng-click="removeProject(name)"><i class="icon-remove"></i> Remove</a>
            </div>
          </li>
          <li>
            <a class="btn" ng-click="createProject()">Create Project</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
