<div>
  <h2>Create Application</h2>
  <form class="form-horizontal" ng-submit="updateModule()" ng-init="module.type = 'app'">
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" id="name" required ng-model="module.name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <input type="text" id="description" ng-model="module.description">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</div>
