<% stylesheet( viewLocals.rootUrl + '/lib/bootstrap-wizard/bootstrap-wizard.css'); %>
<% script( viewLocals.rootUrl + '/lib/bootstrap-wizard/bootstrap-wizard.min.js'); %>
<% script( viewLocals.rootUrl + '/js/data-wizard.js'); %>

Hello, wizard!

<div class="wizard" id="data-wizard">
 
    <h1>Create a Resource from a DataSource</h1>
 
    <div class="wizard-card" data-cardname="card1">
        <h3>Card 1</h3>
        Some content
    </div>
 
    <div class="wizard-card" data-cardname="card2">
        <h3>Card 2</h3>
        Some other content
    </div>
 
</div>